{% extends "base.html" %} 
{% block title %}Home Page{% endblock %} 
{% block content %}

<div class="flex flex-col gap-4 w-[80%] my-[2%] mx-auto">
    <div class="flex flex-row items-center justify-between">
        <h1 class="text-4xl font-bold">My Books</h1>
        <a class="btn-primary" href="{% url 'views.books.create' %}">
            Create book
        </a>
    </div>
    
    <form class="flex flex-row items-center gap-2">
        <button id="all-filter" class="btn-selector" type="submit">
            All
        </button>
    </form>

    <div>
        {% if books %}
            {% for book in books  %}
                <div class="flex flex-row justify-between w-full p-2">
                    <div class="flex flex-col gap-1">
                        <h1 class="font-semibold text-xl">{{ book.title|default:"Título inválido"}}</h1>
                        <h2 class="text-black/50">{{ book.description|default:"Sin descripción"}}</h2>
                    </div>     
                    <a href="{% url "views.notes.index" book.id %}" class="btn-primary flex items-center cursor-pointer">></a>
                </div>    
            {% endfor %}
        {% else %}
            <div>
                <h1 class="text-center font-4xl">No books available</h1>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}